---
layout: default
---


<div class="blog-index">  

  {% for post in site.posts %}
 
    {% assign content = post.content %}

    {% if post.title %}
      <h1 class="entry-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
  
      <div class="entry-date">Posted {{ post.date | date: "%B %-d, %Y" }}</div>
      <br>
    {% endif %}

    <div class="entry-content">
      {{ content }}
    </div>
  
    {% assign pageid = page.id | slugify %}
    {% if site.data.comments[pageid] %}
      {% assign commentCount = side.data.comments[pageid] | size %}
      <a href="{{ site.baseurl }}{{ post.url }}#comments"><b>Comments ({{ commentCount }})</b></a>
    {% else %}
      <a href="{{ site.baseurl }}{{ post.url }}#comments"><b>Comments</b></a>
    {% endif %}
  
    <br><br><br><br>
  
  {% endfor %}
  
</div>
