---
layout: default
---


<div class="blog-index">  

  {% for post in site.posts %}
 
    {% assign content = post.content %}

    {% if post.title %}
      <h1 class="entry-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>
  
      <div class="entry-date">Posted {{ post.date | date: "%B %-d, %Y" }}</div>
      <br>
    {% endif %}

    <div class="entry-content">
      {{ content }}
    </div>
  
    <a href="{{ site.baseurl }}{{ post.url }}"><b>Comments</b></a>
  
    <br><br><br><br>
  
  {% endfor %}
  
</div>
